.carpet
{
    align-items: start;
    /* background: transparent; */
    /* background-image: url("../assets/paper.svg"); */
    
    background-image: url("../assets/carpet12.png");
    background-size: 68px;
    background-position: center bottom;

    height: 90px;

    background-repeat: repeat-x;
    /* height: 96px; */

    
    
}
.menu {
    text-shadow: -1px -1px 3px #000, 1px -1px 3px #000, -1px 1px 3px #000, 1px 1px 3px #000;
    
}
.menu-elem{
    color: white;
}
.sky{
    background: linear-gradient(#85b6ff, #0d6efd);
}

.panel{
    background-color: #fc9f30;
    background-image: url("../assets/rect.svg")
}


.mine {
    
    background-image: url("../assets/mine3.svg"), url("../assets/mine4.svg");

}

.oazis{
    background: linear-gradient( #0d6efd, #053376   );
}

.footer{
    background: #000916;
}

.mine, .panel, .oazis {
    padding-top: 80px;
}

.hoverable {
    cursor: pointer;
    background: rgb(10,50,70, 0.5);
    
    transition: background .3s;
}
.hoverable:hover {
    background:  rgba(10, 50, 70); 
}


.link {
    transition: box-shadow .3s;
}
.link:hover {
    box-shadow: 0px 2px 0px white, 0px -2px 0px white;
}

@font-face {
    font-family: 'Zanzibar';
    src: url('../assets/font/Zanzabar.otf');
    font-weight: normal;
    font-style: normal;
}

.arabic {
    font-family: Zanzibar;
}