.sky{
    background: linear-gradient(#85b6ff, #0d6efd);
}

.panel{
    background-image: url("../assets/rect.svg")
}


.mine {
    
    background-image: url("../assets/mine3.svg"), url("../assets/mine4.svg");

}

@font-face {
    font-family: 'Zanzibar';
    src: url('../assets/font/Zanzabar.otf');
    font-weight: normal;
    font-style: normal;
}

.arabic {
    font-family: Zanzibar;
}