$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 980px,
  xxl: 1020px,
);

// @import '../node_modules/bootstrap/scss/_functions.scss';
// @import '../node_modules/bootstrap/scss/_variables.scss';
// @import '../node_modules/bootstrap/scss/_mixins.scss';

// @include media-breakpoint-down(md) {
//   .navbar-collapse {
//     background: red;
//     margin: 0px;
//     padding: 0px;
//   }
// }


@import "../node_modules/bootstrap/scss/bootstrap.scss";